// Variables
// Fonts
$p-bold: 'poligon-bold';
$p-regular: 'poligon-regular';

// Text Size
$big-heading: 50px;
$heading: 40px;
$card-heading: 22px;
$para-size: 18px;
$big-para-size: 22px;
$button-size: 18px;

/* ======= Basic ======= */
body {
  font-family: 'poligon-regular';
  overflow-x: hidden !important;
}
a,
button {
  text-decoration: none !important;
}
button:focus {
  outline: none !important;
}
.container {
  padding: 0 30px !important;
}
.media-body {
  flex: 1;
}
/* ======= Fonts ======= */
@font-face {
  font-family: 'poligon-regular';
  src: url('../fonts/Poligon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.poligon-regular {
  font-family: $p-regular;
}
@font-face {
  font-family: 'poligon-bold';
  src: url('../fonts/Poligon-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.poligon-bold {
  font-family: $p-bold;
}
@font-face {
  font-family: 'sofia-pro-bold';
  src: url('../fonts/SofiaPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.sofia-pro {
  font-family: 'sofia-pro-bold';
}
@font-face {
  font-family: 'sinthya';
  src: url('../fonts/Sinthya.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.sofia-pro {
  font-family: 'sinthya';
}
/* ======= Reuseable ======= */
.after-heading {
  font-family: $p-bold;
  color: #ff771c;
  font-size: 22px;
}
.heading {
  font-size: $heading;
  font-family: $p-bold;
  color: #000000;
  @media only screen and (max-width: 575px) {
    font-size: 30px;
  }
}
.big-heading {
  font-size: $big-heading;
  font-family: $p-bold;
  color: #000000;
  @media only screen and (max-width: 575px) {
    font-size: 30px;
  }
}
.para-text {
  font-size: $para-size;
  color: #000000;
  @media only screen and (max-width: 575px) {
    font-size: 16px;
  }
}
.big-para-text {
  font-size: $big-para-size;
  @media only screen and (max-width: 575px) {
    font-size: 18px;
  }
}
.button {
  font-size: $button-size;
  padding: 12px 30px;
  @media only screen and (max-width: 575px) {
    font-size: 16px;
  }
  &.button-rounded {
    border-radius: 12px;
  }
  &.button-big-rounded {
    border-radius: 35px;
  }
  &.button-gradient {
    background: linear-gradient(107deg, #ff705a 0%, #f2a355 100%);
    transition: all 0.3s ease-in-out;
    color: #ffffff;
  }
  &.gradient-border {
    border: 2px solid #ffffff;
    &:hover {
      border: 2px solid transparent;
      transition: all 0.3s ease-in-out;
    }
  }
  &.button-outline-white {
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: #000000;
      transition: all 0.3s ease-in-out;
    }
  }
}
.card-heading {
  font-size: $card-heading;
  font-family: $p-bold;
  @media only screen and (max-width: 575px) {
    font-size: 20px;
  }
}

/* ======= Header Section ======= */
#header-section {
  .navbar {
    .navbar-brand {
      img {
        @media only screen and (max-width: 575px) {
          width: 200px;
        }
      }
    }
    .navbar-toggler {
      background-color: transparent;
      z-index: 9999999999999999999999999 !important;
      .dot-icon {
        transition: all 0.3s ease-in-out;
        &.rotate {
          transform: rotate(135deg);
          transition: all 0.3s ease-in-out;
        }
      }
      &:focus {
        box-shadow: none !important;
      }
      @media only screen and (max-width: 575px) {
        width: 50px;
      }
    }
    .navbar-collapse {
      overflow: hidden !important;
      position: fixed;
      width: 100%;
      height: 0%;
      top: 0;
      left: 0;
      z-index: 99999999 !important;
      background-color: #6a23f0;
      visibility: hidden;
      opacity: 0;
      display: flex !important;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      text-align: center;
      &.open {
        height: 100%;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        // Nav Menu Link
        .navbar-nav {
          .nav-item {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
            transition: all 1s ease-in-out;
          }
        }
        // Header Shape Divider
        .header-shape-divider {
          .shape-fill {
            opacity: 1;
            transition: all 1s ease-in-out;
            fill: #ffffff;
          }
        }
      }
      // Nav Menu Link
      .navbar-nav {
        padding: 30px 0;
        width: 100%;
        .nav-item {
          visibility: hidden;
          opacity: 0;
          transform: translateY(-250px);
          transition: all 0.3s ease-in-out;
          padding: 0 30px;
          margin: 5px 0;
          .nav-link {
            color: #ffffff;
            font-size: 30px;
            display: inline-block;
            position: relative;
            &::after {
              position: absolute;
              content: '';
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              transition: all 0.3s ease-in-out;
              background-color: #ffffff;
            }
            &:hover::after {
              width: 100%;
              transition: all 0.3s ease-in-out;
            }
            @media (max-width: 767px) {
              font-size: 23px;
            }
            @media (max-width: 575px) {
              font-size: 20px;
            }
          }
        }
      }
      // Header Shape Divider
      .header-shape-divider {
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        opacity: 1;
        svg {
          position: relative;
          display: block;
          width: calc(274% + 1.3px);
          height: 450px;
          transform: translateY(150px);
          @media (min-width: 768px) and (max-width: 1023px) {
            width: calc(274% + 1.3px);
            height: 283px;
            transform: translateY(0px);
          }
          @media (max-width: 767px) {
            width: calc(271% + 1.3px);
            height: 200px;
            transform: translateY(0px);
          }
        }
        .shape-fill {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          fill: #ffffff;
        }
      }
    }
  }
}

/* ======= Banner Section ======= */
#banner-section {
  background: transparent linear-gradient(180deg, #9100ff 0%, #2b59d7 100%) 0%
    0% no-repeat padding-box;
  .banner-bg-layer {
    background-image: url('../img/banner-bg-layer.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 250px 0 0 0;
    @media only screen and (min-width: 991px) {
      background-size: 900px;
    }
    @media only screen and (max-width: 575px) {
      padding: 150px 0 0 0;
    }
    // Banner Content
    .banner-content {
      .heading {
        font-family: 'sofia-pro-bold';
      }
      .opacity-0 {
        opacity: 0;
      }
      .banner-showed-img {
        bottom: 0;
        left: 0;
        z-index: 99 !important;
      }
    }
    // Banner Shape Divider
    .banner-shape-divider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      svg {
        position: relative;
        display: block;
        width: calc(274% + 1.3px);
        height: 450px;
        @media (min-width: 768px) and (max-width: 1023px) {
          width: calc(274% + 1.3px);
          height: 283px;
        }
        @media (max-width: 767px) {
          width: calc(271% + 1.3px);
          height: 200px;
        }
      }
      .shape-fill {
        fill: #ffffff;
      }
    }
  }
}

/* ======= Problem Section ======= */
#problem-section {
  padding: 100px 0;
  @media only screen and (max-width: 575px) {
    padding: 50px 0;
  }
  .bg {
    background-color: #fff7f2;
    border-radius: 30px;
    padding: 40px;
    @media only screen and (max-width: 575px) {
      border-radius: 10px;
      padding: 20px;
    }
    @media only screen and (max-width: 1399px) {
      .heading {
        min-height: 100px;
      }
    }
    @media only screen and (max-width: 991px) {
      .heading {
        min-height: 50px;
      }
    }
    .border-end {
      border-right: 0 !important;
      @media only screen and (min-width: 991px) {
        border-right: 2px solid #707070 !important;
      }
    }
    .border-bottom {
      border-bottom: 2px solid #707070 !important;
      @media only screen and (min-width: 991px) {
        border-bottom: 0 !important;
      }
    }
    .right-side {
      .media {
        i {
          transform: rotate(45deg);
          color: #ff771c;
          font-size: 10px;
          margin-top: 12px;
        }
      }
    }
  }
}

/* ======= Offer Section ======= */
#offer-section {
  .bg-color {
    background-color: #9100ff;
    border-radius: 30px;
    overflow: hidden;
    .bg-image {
      background-image: url('../img/offer-section-bg.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50px;
      @media only screen and (max-width: 991px) {
        background-position: center left;
      }
      @media only screen and (max-width: 575px) {
        padding: 30px;
      }
    }
  }
}

/* ======= Image Section ======= */
#image-section {
  padding: 100px 0;
  @media only screen and (max-width: 575px) {
    padding: 50px 0;
  }
}

/* ======= Business and Customer Section ======= */
#business-and-customer-section {
  .card {
    background: #fff7f2 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 35px #0000000d;
    border-radius: 31px;
    @media only screen and (max-width: 575px) {
      border-radius: 10px;
    }
    .card-body {
      .media {
        img {
          width: 50px;
        }
      }
    }
  }
}

/* ======= Blog Section ======= */
#blog-section {
  padding: 100px 0;
  @media only screen and (max-width: 991px) {
    padding: 80px 0;
  }
  .blog-cards {
    .blog-card {
      height: 100%;
      box-shadow: 9px 15px 31px #00000012;
      border-radius: 22px;
      .card-body {
        .date {
          color: #152439;
        }
        .card-heading {
          color: #152439;
        }
        .card-button {
          color: #ff771c;
          border-bottom: 1px solid #ff771c;
        }
      }
    }
  }
}

#partners-section {
  padding-bottom: 220px;
}

/* ======= Contact Section ======= */
#contact-section {
  @media only screen and (min-width: 992px) {
    position: absolute;
    transform: translateY(-50%);
  }
  @media only screen and (max-width: 991px) {
    padding-bottom: 50px;
  }
  width: 100%;
  .bg-color {
    background-color: #ff771c;
    border-radius: 40px;
    overflow: hidden;
    .bg-image {
      background-image: url('../img/contact-bg.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50px;
      @media only screen and (max-width: 991px) {
        background-position: center right;
      }
      @media only screen and (max-width: 575px) {
        padding: 30px 30px 40px 30px;
      }
    }
  }
}

/* ======= Footer Section ======= */
footer {
  @media only screen and (min-width: 992px) {
    padding-top: 150px;
  }
  background: transparent linear-gradient(113deg, #9100ff 0%, #2b59d7 100%) 0%
    0% no-repeat padding-box;
  .footer-widget {
    padding: 100px 0 70px 0;
    @media only screen and (max-width: 575px) {
      padding: 60px 0;
      .footer-logo {
        width: 250px;
      }
    }
    .footer-social-icon {
      i {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 50%;
        font-size: 18px;
        margin: 0 20px;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #5a009e;
          transition: all 0.3s ease-in-out;
          background-color: #ffffff;
        }
        @media only screen and (max-width: 575px) {
          font-size: 16px;
        }
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
    .footer-title {
      min-height: 100px;
      @media (max-width: 1199px) {
        min-height: 50px;
      }
    }
    .foter-sub-heading {
      font-size: 24px;
      font-family: $p-bold;
      color: #ffffff;
      @media only screen and (max-width: 575px) {
        font-size: 20px;
      }
    }
    .footer-links {
      a {
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin: 15px 0;
        &:first-child {
          margin-top: 0;
        }
        @media only screen and (max-width: 575px) {
          font-size: 16px;
        }
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
    .subscribe-box {
      .subscribe-form {
        input {
          border-radius: 35px 35px !important;
          box-shadow: none !important;
          border: none !important;
          padding: 12px 30px;
          @media (max-width: 575px) {
            display: block !important;
            width: 100% !important;
          }
        }
        button {
          border-radius: 35px !important;
          @media (max-width: 575px) {
            display: block !important;
            width: 100% !important;
          }
        }
      }
    }
  }
  .footer-copyright {
    border-top: 1px solid #ffffff;
    p,
    a {
      color: #ffffff;
    }
  }
}

/* ====== Back to Top ====== */
#back-to-top {
  opacity: 0;
  position: fixed;
  right: 30px;
  bottom: 20px;
  border: 0;
  background-color: #fb7d58;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.4s linear;
  z-index: 99;
  transform: translateY(-300px);
}

/* ================================= */
/* == Common For Other pages == */
/* ================================= */
#page-2,
#page-3,
#page-4,
#page-5,
#page-6 {
  /* ====== Banner Section ====== */
  #banner-section {
    background: url('../img/page-2/banner-bg.png');
    .banner-bg-layer {
      // Banner Content
      .banner-content {
        padding-bottom: 450px;
        @media (min-width: 768px) and (max-width: 1023px) {
          padding-bottom: 300px;
        }
        @media (max-width: 767px) {
          padding-bottom: 200px;
        }
      }
      .banner-shape-divider svg {
        height: 450px;
        @media (min-width: 768px) and (max-width: 1023px) {
          height: 350px;
        }
        @media (max-width: 767px) {
          height: 150px;
        }
      }
    }
  }

  /* ====== Why Section ====== */
  #why-section {
    .right-side {
      .heading {
        font-family: 'sofia-pro-bold';
      }
      .para-text {
        b {
          color: #ff461c;
        }
      }
    }
  }

  /* ====== FAQ Section ====== */
  #faq-section {
    padding-bottom: 200px;
    @media (max-width: 991px) {
      padding-bottom: 70px;
    }
    .left-side {
      .accordion {
        .accordion-item {
          border: 1px solid #d8d8d8 !important;
          border-radius: 10px;
          .accordion-button {
            text-align: left !important;
            color: #3e5b72;
            font-size: 18px;
            font-family: $p-bold;
            box-shadow: none !important;
            border: none !important;
            background-color: transparent !important;
            &::after {
              background-image: url('../img/page-2/faq-minus.svg');
            }
            &.collapsed {
              &::after {
                background-image: url('../img/page-2/faq-plus.svg');
              }
            }
          }
          .accordion-body {
            p {
              color: #3e5b72;
            }
          }
        }
      }
    }
    .right-side {
      h3 {
        color: #3e5b72;
        font-family: $p-bold;
      }
      .question-form {
        input {
          border: 1px solid #c8c8c8;
          border-radius: 12px;
          color: #2b2b2b;
          outline: none !important;
          &::placeholder {
            color: #b2b7bb;
          }
        }
      }
    }
  }
}

/* ================================= */
/* ===== Page 2 ===== */
/* ================================= */
#page-2 {
  /* ====== Vicious Circle Section ====== */
  #vicious-circle-section {
    padding: 100px 0;
    @media (max-width: 575px) {
      padding: 50px 0;
    }
  }

  /* ====== How We Consume Section ====== */
  #how-we-consume-section {
    .bg-color {
      background-color: #9100ff;
      border-radius: 30px;
      overflow: hidden;
      .bg-image {
        background-image: url('../img/page-2//how-we-consume-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        @media only screen and (max-width: 991px) {
          background-position: center left;
        }
        @media only screen and (max-width: 575px) {
          padding: 30px;
        }
      }
    }
  }

  /* ====== Marketing Oriented Way Section ====== */
  #marketing-oriented-way-section {
    padding: 100px 0;
    @media (max-width: 575px) {
      padding: 60px 0;
    }
    .left-side {
      .marketing-oriented-way-check-list {
        .media {
          i {
            transform: rotate(45deg);
            font-size: 10px;
            color: #ff771c;
            margin-top: 10px;
          }
        }
      }
    }
    .right-side {
      background: #fff7f2;
      border-radius: 30px;
      .box {
        border-radius: 15px;
        .para-text {
          color: #ff771c;
        }
      }
    }
  }

  /* ====== Make Business Follow Section ====== */
  #make-business-follow-section {
    padding: 100px 0;
    @media (max-width: 575px) {
      padding: 50px 0;
    }
    .bg-image {
      background-image: url('../img//page-2/make-business-follow-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 0 0 0 80px;
      border-radius: 28px;
      overflow: hidden;
      @media (max-width: 991px) {
        padding: 30px 30px 0 30px;
        background-position: left;
      }
    }
    .left-side {
      .heading {
        font-family: $p-regular;
        b {
          color: #ff461c;
          border-bottom: 2px solid #ff461c;
        }
      }
    }
  }
}

/* ================================= */
/* ====== Page 3 ===== */
/* ================================= */
#page-3 {
  /* ====== Banner Section ====== */
  #banner-section {
    background-image: url('../img/page-3/banner-bg.png');
  }
  /* ====== Text Section ====== */
  #text-section {
    transform: translateY(-100px);
    @media (max-width: 767px) {
      transform: translateY(-0px);
    }
    .left-side {
      h2 {
        font-family: 'sofia-pro-bold';
        line-height: 1.5;
      }
    }
  }

  /* ====== Why Section ====== */
  #why-section {
    padding: 0 0 100px 0;
    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  /* ====== Q.Everything Section ====== */
  #q-everything-section {
    padding-bottom: 100px;
    @media (max-width: 575px) {
      padding-bottom: 70px;
    }
    .bg {
      background: #fff7f2;
      padding: 30px;
      border-radius: 30px;
    }
    h2 {
      font-size: 28px;
    }
    .left-side {
      background: #fff7f2;
      border-radius: 30px;
      .box {
        border-radius: 15px;
      }
      .para-text {
        color: #ff771c;
      }
    }
  }
}

/* ================================= */
/* ====== Page 4 ===== */
/* ================================= */
#page-4 {
  /* ====== Banner Section ====== */
  #banner-section {
    background-image: url('../img/page-4/banner-bg.png');
  }

  /* ====== Why Section ====== */
  #why-section {
    padding-bottom: 150px;
    transform: translateY(-100px);
    padding-top: 10px;
    @media (max-width: 991px) {
      padding-bottom: 60px;
      transform: translateY(0px);
    }
    h1 {
      font-family: 'sinthya';
      color: #ff771c;
      font-size: 80px;
      @media (max-width: 575px) {
        font-size: 60px;
      }
    }
    h2 {
      font-family: 'sofia-pro-bold';
    }
  }
}

/* ================================= */
/* ====== Page 5 ===== */
/* ================================= */
#page-5 {
  /* ====== Banner Section ====== */
  #banner-section {
    background-image: url('../img/page-5/banner-bg.png');
  }

  /* ====== Tab Section ====== */
  #tab-section {
    transform: translateY(-100px);
    @media (max-width: 991px) {
      transform: translateY(0px);
      padding-bottom: 70px;
    }
    // Tab Button
    .nav-tabs {
      li {
        button {
          font-family: 'sofia-pro-bold';
          border: 3px solid #e6e6e6;
          color: #e6e6e6;
          background-color: #ffffff;
          margin: 0 10px;
          border-radius: 28px;
          &.active {
            border: 3px solid #ff461c;
            color: #ff461c;
          }
        }
      }
    }
    // Tab Content
    .tab-content {
      background: #fff7f2 0% 0% no-repeat padding-box;
      border-radius: 30px;
      padding: 50px 20px;
      // Change Cards
      .change-cards {
        .change-card {
          box-shadow: 0px 6px 28px #0000001a;
          border-radius: 22px;
          padding: 30px;
          p {
            color: #6d7a8e;
          }
          &:hover {
            background: transparent
              linear-gradient(121deg, #ff705a 0%, #f2a355 100%) 0% 0% no-repeat
              padding-box;
            box-shadow: 0px 6px 28px #0000001a;
            cursor: pointer;
            h3,
            p {
              color: #ffffff;
            }
          }
        }
      }
      // Lets Talk
      .lets-talk {
        .heading {
          color: #2a4255;
        }
        // Form
        form {
          input,
          textarea {
            padding: 10px 20px;
            outline: none !important;
            border: 0;
            box-shadow: 0px 3px 10px #00000005;
            border-radius: 12px;
          }
          textarea {
            height: 150px;
          }
        }
      }
    }
  }

  /* ====== Footer Section ====== */
  footer {
    padding-top: 0 !important;
  }
}

/* ================================= */
/* ====== Page 6 ===== */
/* ================================= */
#page-6 {
  /* ====== Banner Section ====== */
  #banner-section {
    background-image: url('../img/page-5/banner-bg.png');
  }

  /* ====== Understand Section ====== */
  #understand-section {
    transform: translateY(-100px);
    @media only screen and (max-width: 991px) {
      transform: translateY(0px);
    }
    .section-title {
      .para-text {
        &.orange {
          color: #ff461c;
          font-family: $p-bold;
        }
      }
    }
    // accept-following-list
    .accept-following-list-box {
      background: #fff7f2 0% 0% no-repeat padding-box;
      border-radius: 28px;
      padding: 20px;
      .media {
        i {
          font-size: 12px;
          margin-top: 9px;
        }
      }
    }
  }

  /* ====== Understand Section ====== */
  #text-section {
    padding-bottom: 250px;
    @media only screen and (max-width: 991px) {
      padding: 80px 0;
    }
  }
}
