/* ======= Basic ======= */
body {
  font-family: 'poligon-regular';
  overflow-x: hidden !important;
}

a,
button {
  text-decoration: none !important;
}

button:focus {
  outline: none !important;
}

.container {
  padding: 0 30px !important;
}

.media-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* ======= Fonts ======= */
@font-face {
  font-family: 'poligon-regular';
  src: url("../fonts/Poligon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.poligon-regular {
  font-family: "poligon-regular";
}

@font-face {
  font-family: 'poligon-bold';
  src: url("../fonts/Poligon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.poligon-bold {
  font-family: "poligon-bold";
}

@font-face {
  font-family: 'sofia-pro-bold';
  src: url("../fonts/SofiaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.sofia-pro {
  font-family: 'sofia-pro-bold';
}

@font-face {
  font-family: 'sinthya';
  src: url("../fonts/Sinthya.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.sofia-pro {
  font-family: 'sinthya';
}

/* ======= Reuseable ======= */
.after-heading {
  font-family: "poligon-bold";
  color: #ff771c;
  font-size: 22px;
}

@media only screen and (min-width: 1600px) {
  .after-heading {
    font-size: 30px;
  }
}

.heading {
  font-size: 40px;
  font-family: "poligon-bold";
  color: #000000;
}

@media only screen and (max-width: 575px) {
  .heading {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  .heading {
    font-size: 50px;
  }
}

.big-heading {
  font-size: 50px;
  font-family: "poligon-bold";
  color: #000000;
}

@media only screen and (max-width: 575px) {
  .big-heading {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  .big-heading {
    font-size: 60px;
  }
}

.para-text {
  font-size: 18px;
  color: #000000;
}

@media only screen and (max-width: 575px) {
  .para-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1600px) {
  .para-text {
    font-size: 22px;
  }
}

.big-para-text {
  font-size: 22px;
}

@media only screen and (max-width: 575px) {
  .big-para-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1600px) {
  .big-para-text {
    font-size: 24px;
  }
}

.button {
  font-size: 18px;
  padding: 12px 30px;
}

@media only screen and (min-width: 1600px) {
  .button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .button {
    font-size: 16px;
  }
}

.button.button-rounded {
  border-radius: 12px;
}

.button.button-big-rounded {
  border-radius: 35px;
}

.button.button-gradient {
  background: linear-gradient(107deg, #ff705a 0%, #f2a355 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.button.gradient-border {
  border: 2px solid #ffffff;
}

.button.gradient-border:hover {
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button.button-outline-white {
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button.button-outline-white:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-heading {
  font-size: 22px;
  font-family: "poligon-bold";
}

@media only screen and (max-width: 575px) {
  .card-heading {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  .card-heading {
    font-size: 26px;
  }
}

/* ======= Header Section ======= */
@media only screen and (max-width: 575px) {
  #header-section .navbar .navbar-brand img {
    width: 200px;
  }
}

#header-section .navbar .navbar-toggler {
  background-color: transparent;
  z-index: 9999999999999999999999999 !important;
}

#header-section .navbar .navbar-toggler .dot-icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-section .navbar .navbar-toggler .dot-icon.rotate {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-section .navbar .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media only screen and (max-width: 575px) {
  #header-section .navbar .navbar-toggler {
    width: 50px;
  }
}

#header-section .navbar .navbar-collapse {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  z-index: 99999999 !important;
  background-color: #6a23f0;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#header-section .navbar .navbar-collapse.open {
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-section .navbar .navbar-collapse.open .navbar-nav .nav-item {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#header-section .navbar .navbar-collapse.open .header-shape-divider .shape-fill {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  fill: #ffffff;
}

#header-section .navbar .navbar-collapse .navbar-nav {
  padding: 30px 0;
  width: 100%;
}

#header-section .navbar .navbar-collapse .navbar-nav .nav-item {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 30px;
  margin: 5px 0;
}

#header-section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 30px;
  display: inline-block;
  position: relative;
}

#header-section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

#header-section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  #header-section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 23px;
  }
}

@media (max-width: 575px) {
  #header-section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
}

#header-section .navbar .navbar-collapse .header-shape-divider {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 1;
}

#header-section .navbar .navbar-collapse .header-shape-divider svg {
  position: relative;
  display: block;
  width: calc(274% + 1.3px);
  height: 450px;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

@media (min-width: 768px) and (max-width: 1023px) {
  #header-section .navbar .navbar-collapse .header-shape-divider svg {
    width: calc(274% + 1.3px);
    height: 283px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 767px) {
  #header-section .navbar .navbar-collapse .header-shape-divider svg {
    width: calc(271% + 1.3px);
    height: 200px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#header-section .navbar .navbar-collapse .header-shape-divider .shape-fill {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #ffffff;
}

/* ======= Banner Section ======= */
#banner-section {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#9100ff), to(#2b59d7)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #9100ff 0%, #2b59d7 100%) 0% 0% no-repeat padding-box;
}

#banner-section .banner-bg-layer {
  background-image: url("../img/banner-bg-layer.png");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 250px 0 0 0;
}

@media only screen and (min-width: 991px) {
  #banner-section .banner-bg-layer {
    background-size: 900px;
  }
}

@media only screen and (max-width: 575px) {
  #banner-section .banner-bg-layer {
    padding: 150px 0 0 0;
  }
}

#banner-section .banner-bg-layer .banner-content .heading {
  font-family: 'sofia-pro-bold';
}

#banner-section .banner-bg-layer .banner-content .opacity-0 {
  opacity: 0;
}

#banner-section .banner-bg-layer .banner-content .banner-showed-img {
  bottom: 0;
  left: 0;
  z-index: 99 !important;
}

#banner-section .banner-bg-layer .banner-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#banner-section .banner-bg-layer .banner-shape-divider svg {
  position: relative;
  display: block;
  width: calc(274% + 1.3px);
  height: 450px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #banner-section .banner-bg-layer .banner-shape-divider svg {
    width: calc(274% + 1.3px);
    height: 283px;
  }
}

@media (max-width: 767px) {
  #banner-section .banner-bg-layer .banner-shape-divider svg {
    width: calc(271% + 1.3px);
    height: 200px;
  }
}

#banner-section .banner-bg-layer .banner-shape-divider .shape-fill {
  fill: #ffffff;
}

/* ======= Problem Section ======= */
#problem-section {
  padding: 100px 0;
}

@media only screen and (max-width: 575px) {
  #problem-section {
    padding: 50px 0;
  }
}

#problem-section .bg {
  background-color: #fff7f2;
  border-radius: 30px;
  padding: 40px;
}

@media only screen and (max-width: 575px) {
  #problem-section .bg {
    border-radius: 10px;
    padding: 20px;
  }
}

@media only screen and (max-width: 1399px) {
  #problem-section .bg .heading {
    min-height: 100px;
  }
}

@media only screen and (max-width: 991px) {
  #problem-section .bg .heading {
    min-height: 50px;
  }
}

#problem-section .bg .border-end {
  border-right: 0 !important;
}

@media only screen and (min-width: 991px) {
  #problem-section .bg .border-end {
    border-right: 2px solid #707070 !important;
  }
}

#problem-section .bg .border-bottom {
  border-bottom: 2px solid #707070 !important;
}

@media only screen and (min-width: 991px) {
  #problem-section .bg .border-bottom {
    border-bottom: 0 !important;
  }
}

#problem-section .bg .right-side .media i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #ff771c;
  font-size: 10px;
  margin-top: 12px;
}

/* ======= Offer Section ======= */
#offer-section .bg-color {
  background-color: #9100ff;
  border-radius: 30px;
  overflow: hidden;
}

#offer-section .bg-color .bg-image {
  background-image: url("../img/offer-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

@media only screen and (max-width: 991px) {
  #offer-section .bg-color .bg-image {
    background-position: center left;
  }
}

@media only screen and (max-width: 575px) {
  #offer-section .bg-color .bg-image {
    padding: 30px;
  }
}

/* ======= Image Section ======= */
#image-section {
  padding: 100px 0;
}

@media only screen and (max-width: 575px) {
  #image-section {
    padding: 50px 0;
  }
}

/* ======= Business and Customer Section ======= */
#business-and-customer-section .card {
  background: #fff7f2 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 35px #0000000d;
          box-shadow: 0px 10px 35px #0000000d;
  border-radius: 31px;
}

@media only screen and (max-width: 575px) {
  #business-and-customer-section .card {
    border-radius: 10px;
  }
}

#business-and-customer-section .card .card-body .media img {
  width: 50px;
}

/* ======= Blog Section ======= */
#blog-section {
  padding: 100px 0;
}

@media only screen and (max-width: 991px) {
  #blog-section {
    padding: 80px 0;
  }
}

#blog-section .blog-cards .blog-card {
  height: 100%;
  -webkit-box-shadow: 9px 15px 31px #00000012;
          box-shadow: 9px 15px 31px #00000012;
  border-radius: 22px;
}

#blog-section .blog-cards .blog-card .card-body .date {
  color: #152439;
}

#blog-section .blog-cards .blog-card .card-body .card-heading {
  color: #152439;
}

#blog-section .blog-cards .blog-card .card-body .card-button {
  color: #ff771c;
  border-bottom: 1px solid #ff771c;
}

#partners-section {
  padding-bottom: 220px;
}

/* ======= Contact Section ======= */
#contact-section {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #contact-section {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media only screen and (max-width: 991px) {
  #contact-section {
    padding-bottom: 50px;
  }
}

#contact-section .bg-color {
  background-color: #ff771c;
  border-radius: 40px;
  overflow: hidden;
}

#contact-section .bg-color .bg-image {
  background-image: url("../img/contact-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

@media only screen and (max-width: 991px) {
  #contact-section .bg-color .bg-image {
    background-position: center right;
  }
}

@media only screen and (max-width: 575px) {
  #contact-section .bg-color .bg-image {
    padding: 30px 30px 40px 30px;
  }
}

/* ======= Footer Section ======= */
footer {
  background: transparent linear-gradient(113deg, #9100ff 0%, #2b59d7 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (min-width: 992px) {
  footer {
    padding-top: 150px;
  }
}

footer .footer-widget {
  padding: 100px 0 70px 0;
}

footer .footer-widget .footer-logo {
  margin-bottom: 30px;
}

footer .footer-widget p {
  font-size: 18px !important;
}

@media only screen and (max-width: 575px) {
  footer .footer-widget {
    padding: 60px 0;
  }
  footer .footer-widget .footer-logo {
    width: 250px;
    margin-bottom: 0;
  }
}

footer .footer-widget .footer-social-icon i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 20px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-widget .footer-social-icon i:hover {
  color: #5a009e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

@media only screen and (max-width: 575px) {
  footer .footer-widget .footer-social-icon i {
    font-size: 16px;
  }
}

footer .footer-widget .footer-social-icon i:nth-child(1) {
  margin-left: 0;
}

footer .footer-widget .footer-title {
  min-height: 100px;
}

@media (max-width: 1199px) {
  footer .footer-widget .footer-title {
    min-height: 50px;
  }
}

footer .footer-widget .foter-sub-heading {
  font-size: 24px;
  font-family: "poligon-bold";
  color: #ffffff;
}

@media only screen and (max-width: 575px) {
  footer .footer-widget .foter-sub-heading {
    font-size: 20px;
  }
}

footer .footer-widget .footer-links a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: 15px 0;
}

footer .footer-widget .footer-links a:first-child {
  margin-top: 0;
}

@media only screen and (max-width: 575px) {
  footer .footer-widget .footer-links a {
    font-size: 16px;
  }
}

footer .footer-widget .footer-links a:hover {
  text-decoration: underline !important;
}

footer .footer-widget .subscribe-box .subscribe-form input {
  border-radius: 35px 35px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  padding: 12px 30px;
}

@media (max-width: 575px) {
  footer .footer-widget .subscribe-box .subscribe-form input {
    display: block !important;
    width: 100% !important;
  }
}

footer .footer-widget .subscribe-box .subscribe-form button {
  border-radius: 35px !important;
}

@media (max-width: 575px) {
  footer .footer-widget .subscribe-box .subscribe-form button {
    display: block !important;
    width: 100% !important;
  }
}

footer .footer-copyright {
  border-top: 1px solid #ffffff;
}

footer .footer-copyright p,
footer .footer-copyright a {
  color: #ffffff;
}

/* ====== Back to Top ====== */
#back-to-top {
  opacity: 0;
  position: fixed;
  right: 30px;
  bottom: 20px;
  border: 0;
  background-color: #fb7d58;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 99;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

/* ================================= */
/* == Common For Other pages == */
/* ================================= */
#page-2,
#page-3,
#page-4,
#page-5,
#page-6 {
  /* ====== Banner Section ====== */
  /* ====== Why Section ====== */
  /* ====== FAQ Section ====== */
}

#page-2 #banner-section,
#page-3 #banner-section,
#page-4 #banner-section,
#page-5 #banner-section,
#page-6 #banner-section {
  background: url("../img/page-2/banner-bg.png");
}

#page-2 #banner-section .banner-bg-layer .banner-content,
#page-3 #banner-section .banner-bg-layer .banner-content,
#page-4 #banner-section .banner-bg-layer .banner-content,
#page-5 #banner-section .banner-bg-layer .banner-content,
#page-6 #banner-section .banner-bg-layer .banner-content {
  padding-bottom: 450px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #page-2 #banner-section .banner-bg-layer .banner-content,
  #page-3 #banner-section .banner-bg-layer .banner-content,
  #page-4 #banner-section .banner-bg-layer .banner-content,
  #page-5 #banner-section .banner-bg-layer .banner-content,
  #page-6 #banner-section .banner-bg-layer .banner-content {
    padding-bottom: 300px;
  }
}

@media (max-width: 767px) {
  #page-2 #banner-section .banner-bg-layer .banner-content,
  #page-3 #banner-section .banner-bg-layer .banner-content,
  #page-4 #banner-section .banner-bg-layer .banner-content,
  #page-5 #banner-section .banner-bg-layer .banner-content,
  #page-6 #banner-section .banner-bg-layer .banner-content {
    padding-bottom: 200px;
  }
}

#page-2 #banner-section .banner-bg-layer .banner-shape-divider svg,
#page-3 #banner-section .banner-bg-layer .banner-shape-divider svg,
#page-4 #banner-section .banner-bg-layer .banner-shape-divider svg,
#page-5 #banner-section .banner-bg-layer .banner-shape-divider svg,
#page-6 #banner-section .banner-bg-layer .banner-shape-divider svg {
  height: 450px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #page-2 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-3 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-4 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-5 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-6 #banner-section .banner-bg-layer .banner-shape-divider svg {
    height: 350px;
  }
}

@media (max-width: 767px) {
  #page-2 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-3 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-4 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-5 #banner-section .banner-bg-layer .banner-shape-divider svg,
  #page-6 #banner-section .banner-bg-layer .banner-shape-divider svg {
    height: 150px;
  }
}

#page-2 #why-section .right-side .heading,
#page-3 #why-section .right-side .heading,
#page-4 #why-section .right-side .heading,
#page-5 #why-section .right-side .heading,
#page-6 #why-section .right-side .heading {
  font-family: 'sofia-pro-bold';
}

#page-2 #why-section .right-side .para-text b,
#page-3 #why-section .right-side .para-text b,
#page-4 #why-section .right-side .para-text b,
#page-5 #why-section .right-side .para-text b,
#page-6 #why-section .right-side .para-text b {
  color: #ff461c;
}

#page-2 #faq-section,
#page-3 #faq-section,
#page-4 #faq-section,
#page-5 #faq-section,
#page-6 #faq-section {
  padding-bottom: 200px;
}

@media (max-width: 991px) {
  #page-2 #faq-section,
  #page-3 #faq-section,
  #page-4 #faq-section,
  #page-5 #faq-section,
  #page-6 #faq-section {
    padding-bottom: 70px;
  }
}

#page-2 #faq-section .left-side .accordion .accordion-item,
#page-3 #faq-section .left-side .accordion .accordion-item,
#page-4 #faq-section .left-side .accordion .accordion-item,
#page-5 #faq-section .left-side .accordion .accordion-item,
#page-6 #faq-section .left-side .accordion .accordion-item {
  border: 1px solid #d8d8d8 !important;
  border-radius: 10px;
}

#page-2 #faq-section .left-side .accordion .accordion-item .accordion-button,
#page-3 #faq-section .left-side .accordion .accordion-item .accordion-button,
#page-4 #faq-section .left-side .accordion .accordion-item .accordion-button,
#page-5 #faq-section .left-side .accordion .accordion-item .accordion-button,
#page-6 #faq-section .left-side .accordion .accordion-item .accordion-button {
  text-align: left !important;
  color: #3e5b72;
  font-size: 18px;
  font-family: "poligon-bold";
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}

#page-2 #faq-section .left-side .accordion .accordion-item .accordion-button::after,
#page-3 #faq-section .left-side .accordion .accordion-item .accordion-button::after,
#page-4 #faq-section .left-side .accordion .accordion-item .accordion-button::after,
#page-5 #faq-section .left-side .accordion .accordion-item .accordion-button::after,
#page-6 #faq-section .left-side .accordion .accordion-item .accordion-button::after {
  background-image: url("../img/page-2/faq-minus.svg");
}

#page-2 #faq-section .left-side .accordion .accordion-item .accordion-button.collapsed::after,
#page-3 #faq-section .left-side .accordion .accordion-item .accordion-button.collapsed::after,
#page-4 #faq-section .left-side .accordion .accordion-item .accordion-button.collapsed::after,
#page-5 #faq-section .left-side .accordion .accordion-item .accordion-button.collapsed::after,
#page-6 #faq-section .left-side .accordion .accordion-item .accordion-button.collapsed::after {
  background-image: url("../img/page-2/faq-plus.svg");
}

@media (min-width: 1600px) {
  #page-2 #faq-section .left-side .accordion .accordion-item .accordion-button,
  #page-3 #faq-section .left-side .accordion .accordion-item .accordion-button,
  #page-4 #faq-section .left-side .accordion .accordion-item .accordion-button,
  #page-5 #faq-section .left-side .accordion .accordion-item .accordion-button,
  #page-6 #faq-section .left-side .accordion .accordion-item .accordion-button {
    font-size: 22px;
  }
}

#page-2 #faq-section .left-side .accordion .accordion-item .accordion-body p,
#page-3 #faq-section .left-side .accordion .accordion-item .accordion-body p,
#page-4 #faq-section .left-side .accordion .accordion-item .accordion-body p,
#page-5 #faq-section .left-side .accordion .accordion-item .accordion-body p,
#page-6 #faq-section .left-side .accordion .accordion-item .accordion-body p {
  color: #3e5b72;
}

#page-2 #faq-section .right-side h3,
#page-3 #faq-section .right-side h3,
#page-4 #faq-section .right-side h3,
#page-5 #faq-section .right-side h3,
#page-6 #faq-section .right-side h3 {
  color: #3e5b72;
  font-family: "poligon-bold";
}

@media (min-width: 1600px) {
  #page-2 #faq-section .right-side h3,
  #page-3 #faq-section .right-side h3,
  #page-4 #faq-section .right-side h3,
  #page-5 #faq-section .right-side h3,
  #page-6 #faq-section .right-side h3 {
    font-size: 35px;
  }
}

#page-2 #faq-section .right-side .question-form input,
#page-3 #faq-section .right-side .question-form input,
#page-4 #faq-section .right-side .question-form input,
#page-5 #faq-section .right-side .question-form input,
#page-6 #faq-section .right-side .question-form input {
  border: 1px solid #c8c8c8;
  border-radius: 12px;
  color: #2b2b2b;
  outline: none !important;
}

#page-2 #faq-section .right-side .question-form input::-webkit-input-placeholder,
#page-3 #faq-section .right-side .question-form input::-webkit-input-placeholder,
#page-4 #faq-section .right-side .question-form input::-webkit-input-placeholder,
#page-5 #faq-section .right-side .question-form input::-webkit-input-placeholder,
#page-6 #faq-section .right-side .question-form input::-webkit-input-placeholder {
  color: #b2b7bb;
}

#page-2 #faq-section .right-side .question-form input:-ms-input-placeholder,
#page-3 #faq-section .right-side .question-form input:-ms-input-placeholder,
#page-4 #faq-section .right-side .question-form input:-ms-input-placeholder,
#page-5 #faq-section .right-side .question-form input:-ms-input-placeholder,
#page-6 #faq-section .right-side .question-form input:-ms-input-placeholder {
  color: #b2b7bb;
}

#page-2 #faq-section .right-side .question-form input::-ms-input-placeholder,
#page-3 #faq-section .right-side .question-form input::-ms-input-placeholder,
#page-4 #faq-section .right-side .question-form input::-ms-input-placeholder,
#page-5 #faq-section .right-side .question-form input::-ms-input-placeholder,
#page-6 #faq-section .right-side .question-form input::-ms-input-placeholder {
  color: #b2b7bb;
}

#page-2 #faq-section .right-side .question-form input::placeholder,
#page-3 #faq-section .right-side .question-form input::placeholder,
#page-4 #faq-section .right-side .question-form input::placeholder,
#page-5 #faq-section .right-side .question-form input::placeholder,
#page-6 #faq-section .right-side .question-form input::placeholder {
  color: #b2b7bb;
}

/* ================================= */
/* ===== Page 2 ===== */
/* ================================= */
#page-2 {
  /* ====== Vicious Circle Section ====== */
  /* ====== How We Consume Section ====== */
  /* ====== Marketing Oriented Way Section ====== */
  /* ====== Make Business Follow Section ====== */
}

#page-2 #vicious-circle-section {
  padding: 100px 0;
}

@media (max-width: 575px) {
  #page-2 #vicious-circle-section {
    padding: 50px 0;
  }
}

#page-2 #how-we-consume-section .bg-color {
  background-color: #9100ff;
  border-radius: 30px;
  overflow: hidden;
}

#page-2 #how-we-consume-section .bg-color .bg-image {
  background-image: url("../img/page-2//how-we-consume-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

@media only screen and (max-width: 991px) {
  #page-2 #how-we-consume-section .bg-color .bg-image {
    background-position: center left;
  }
}

@media only screen and (max-width: 575px) {
  #page-2 #how-we-consume-section .bg-color .bg-image {
    padding: 30px;
  }
}

#page-2 #marketing-oriented-way-section {
  padding: 100px 0;
}

@media (max-width: 575px) {
  #page-2 #marketing-oriented-way-section {
    padding: 60px 0;
  }
}

#page-2 #marketing-oriented-way-section .left-side .marketing-oriented-way-check-list .media i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 10px;
  color: #ff771c;
  margin-top: 10px;
}

#page-2 #marketing-oriented-way-section .right-side {
  background: #fff7f2;
  border-radius: 30px;
}

#page-2 #marketing-oriented-way-section .right-side .box {
  border-radius: 15px;
}

#page-2 #marketing-oriented-way-section .right-side .box .para-text {
  color: #ff771c;
}

#page-2 #make-business-follow-section {
  padding: 100px 0;
}

@media (max-width: 575px) {
  #page-2 #make-business-follow-section {
    padding: 50px 0;
  }
}

#page-2 #make-business-follow-section .bg-image {
  background-image: url("../img//page-2/make-business-follow-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 0 0 80px;
  border-radius: 28px;
  overflow: hidden;
}

@media (max-width: 991px) {
  #page-2 #make-business-follow-section .bg-image {
    padding: 30px 30px 0 30px;
    background-position: left;
  }
}

#page-2 #make-business-follow-section .left-side .heading {
  font-family: "poligon-regular";
}

#page-2 #make-business-follow-section .left-side .heading b {
  color: #ff461c;
  border-bottom: 2px solid #ff461c;
}

/* ================================= */
/* ====== Page 3 ===== */
/* ================================= */
#page-3 {
  /* ====== Banner Section ====== */
  /* ====== Text Section ====== */
  /* ====== Why Section ====== */
  /* ====== Q.Everything Section ====== */
}

#page-3 #banner-section {
  background-image: url("../img/page-3/banner-bg.png");
}

#page-3 #text-section {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

@media (max-width: 767px) {
  #page-3 #text-section {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#page-3 #text-section .left-side h2 {
  font-family: 'sofia-pro-bold';
  line-height: 1.5;
}

#page-3 #why-section {
  padding: 0 0 100px 0;
}

@media (max-width: 767px) {
  #page-3 #why-section {
    padding: 50px 0;
  }
}

#page-3 #q-everything-section {
  padding-bottom: 100px;
}

@media (max-width: 575px) {
  #page-3 #q-everything-section {
    padding-bottom: 70px;
  }
}

#page-3 #q-everything-section .bg {
  background: #fff7f2;
  padding: 30px;
  border-radius: 30px;
}

#page-3 #q-everything-section h2 {
  font-size: 28px;
}

@media (min-width: 1600px) {
  #page-3 #q-everything-section h2 {
    font-size: 32px;
  }
}

#page-3 #q-everything-section .left-side {
  background: #fff7f2;
  border-radius: 30px;
}

#page-3 #q-everything-section .left-side .box {
  border-radius: 15px;
}

#page-3 #q-everything-section .left-side .para-text {
  color: #ff771c;
}

/* ================================= */
/* ====== Page 4 ===== */
/* ================================= */
#page-4 {
  /* ====== Banner Section ====== */
  /* ====== Why Section ====== */
}

#page-4 #banner-section {
  background-image: url("../img/page-4/banner-bg.png");
}

#page-4 #why-section {
  padding-bottom: 150px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  padding-top: 10px;
}

@media (max-width: 991px) {
  #page-4 #why-section {
    padding-bottom: 60px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#page-4 #why-section h1 {
  font-family: 'sinthya';
  color: #ff771c;
  font-size: 80px;
}

@media (max-width: 575px) {
  #page-4 #why-section h1 {
    font-size: 60px;
  }
}

#page-4 #why-section h2 {
  font-family: 'sofia-pro-bold';
}

/* ================================= */
/* ====== Page 5 ===== */
/* ================================= */
#page-5 {
  /* ====== Banner Section ====== */
  /* ====== Tab Section ====== */
  /* ====== Footer Section ====== */
}

#page-5 #banner-section {
  background-image: url("../img/page-5/banner-bg.png");
}

#page-5 #tab-section {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

@media (max-width: 991px) {
  #page-5 #tab-section {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-bottom: 70px;
  }
}

#page-5 #tab-section .nav-tabs li button {
  font-family: 'sofia-pro-bold';
  border: 3px solid grey;
  color: grey;
  background-color: #ffffff;
  margin: 0 10px;
  border-radius: 28px;
  font-size: 19px;
}

#page-5 #tab-section .nav-tabs li button.active {
  border: 3px solid #ff461c;
  color: #ff461c;
}

@media (min-width: 1600px) {
  #page-5 #tab-section .nav-tabs li button {
    font-size: 23px;
  }
}

#page-5 #tab-section .tab-content {
  background: #fff7f2 0% 0% no-repeat padding-box;
  border-radius: 30px;
  padding: 50px 20px;
}

#page-5 #tab-section .tab-content .change-cards .change-card {
  -webkit-box-shadow: 0px 6px 28px #0000001a;
          box-shadow: 0px 6px 28px #0000001a;
  border-radius: 22px;
  padding: 30px;
}

#page-5 #tab-section .tab-content .change-cards .change-card p {
  color: #6d7a8e;
}

#page-5 #tab-section .tab-content .change-cards .change-card:hover {
  background: transparent linear-gradient(121deg, #ff705a 0%, #f2a355 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 6px 28px #0000001a;
          box-shadow: 0px 6px 28px #0000001a;
  cursor: pointer;
}

#page-5 #tab-section .tab-content .change-cards .change-card:hover h3,
#page-5 #tab-section .tab-content .change-cards .change-card:hover p {
  color: #ffffff;
}

#page-5 #tab-section .tab-content .lets-talk .heading {
  color: #2a4255;
}

#page-5 #tab-section .tab-content .lets-talk form input,
#page-5 #tab-section .tab-content .lets-talk form textarea {
  padding: 10px 20px;
  outline: none !important;
  border: 0;
  -webkit-box-shadow: 0px 3px 10px #00000005;
          box-shadow: 0px 3px 10px #00000005;
  border-radius: 12px;
}

#page-5 #tab-section .tab-content .lets-talk form textarea {
  height: 150px;
}

#page-5 footer {
  padding-top: 0 !important;
}

/* ================================= */
/* ====== Page 6 ===== */
/* ================================= */
#page-6 {
  /* ====== Banner Section ====== */
  /* ====== Understand Section ====== */
  /* ====== Understand Section ====== */
}

#page-6 #banner-section {
  background-image: url("../img/page-5/banner-bg.png");
}

#page-6 #understand-section {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

@media only screen and (max-width: 991px) {
  #page-6 #understand-section {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#page-6 #understand-section .section-title .para-text.orange {
  color: #ff461c;
  font-family: "poligon-bold";
}

#page-6 #understand-section .accept-following-list-box {
  background: #fff7f2 0% 0% no-repeat padding-box;
  border-radius: 28px;
  padding: 20px;
}

#page-6 #understand-section .accept-following-list-box .media i {
  font-size: 12px;
  margin-top: 9px;
}

#page-6 #text-section {
  padding-bottom: 250px;
}

@media only screen and (max-width: 991px) {
  #page-6 #text-section {
    padding: 80px 0;
  }
}
/*# sourceMappingURL=style.css.map */